<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="17bda4af-ada1-422d-997a-9cd8623a25d7" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="17bda4af-ada1-422d-997a-9cd8623a25d7fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
